<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>urlpaypal</param-name>
        <param-value>https://www.sandbox.paypal.com/cgi-bin/webscr</param-value>
    </context-param>
    <context-param>
        <param-name>urlretorno</param-name>
        <param-value>http://localhost:8080/WebCalzados/Controlador?accion=finish</param-value>
    </context-param>
    <servlet>
        <servlet-name>LoginControlador</servlet-name>
        <servlet-class>Controlador.LoginControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorPrincipal</servlet-name>
        <servlet-class>Controlador.ControladorVentas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCompras</servlet-name>
        <servlet-class>Controlador.ControladorCompras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorCarrito</servlet-name>
        <servlet-class>Controlador.ControladorCarrito</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorVentasVendedor</servlet-name>
        <servlet-class>Controlador.ControladorVentasVendedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorLoginVendedor</servlet-name>
        <servlet-class>Controlador.ControladorLoginVendedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControlador</servlet-name>
        <url-pattern>/LoginControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorPrincipal</servlet-name>
        <url-pattern>/ControladorPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCompras</servlet-name>
        <url-pattern>/ControladorCompras</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorImg</servlet-name>
        <servlet-class>Controlador.ControladorImg</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorImg</servlet-name>
        <url-pattern>/ControladorImg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorCarrito</servlet-name>
        <url-pattern>/carrito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorVentasVendedor</servlet-name>
        <url-pattern>/ControladorVentasVendedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorLoginVendedor</servlet-name>
        <url-pattern>/ControladorLoginVendedor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
